* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
	font-weight: 600;
	color: white;
}


body {
	background-color: black;
	background-repeat: no-repeat;
	height: 100vh;
}

.wrapper {
	width: 65%;
	margin: 0 auto;
}

.col {
	float: left;
	width: 45%;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	text-align: center;
	margin-top: 10px;
}



/*-------------------------------------------------*/
/* INPUT SECTION */
/*-------------------------------------------------*/

input {
	width: 100%;
	text-align: right;
	border: none;
	background: transparent;
}

.input_row {
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
}

.input {
	margin: 35px 0 0 0;
}

.description {
	padding-bottom: 6px;
}

/*-------------------------------------------------*/
/* OUTPUT SECTION */
/*-------------------------------------------------*/



.output_row {
	color: black;
}

.output_two,
.output_one {
	background: linear-gradient(120deg, #3E518B, #324377);
}

.output_one,
.output_two {
	padding: 25px;
	width: 90%;
	margin: 20px auto;
	border-radius: 4px
}

.output_row {
	padding: 10px 0;
}


/*-------------------------------------------------*/
/* KEYBOARD */
/*-------------------------------------------------*/



table {
	width: 100%;
	position: fixed;
	bottom: 0;
	border-collapse: separate;
	border-spacing: 9px;
}

td {
	width: 25%;
	font-size: 1.5em;
	text-align: center;
	background-image: radial-gradient(circle, transparent, rgba(255, 255, 255, .13));
	border-radius: 10px;
	padding: 11px;


}
